.help {
  margin-top: 20px;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: #ff38384d;
  color: #779;
  line-height: 28px;
}

h1 {
  color: #6badbd;
  font-family: PixelCowboy;
  letter-spacing: 4px;
  text-shadow: 2px 2px 0px #34545c;
}

code {
  font-family: PixelCowboy;
  background-color: #fff8dc;
  line-height: 26px;
  font-size: 12px;
  padding: 0 5px;
  margin: 0 6px 0 2px;
  vertical-align: text-top;
}

details summary {
  text-transform: uppercase;
  color: var(--pico-h2-color);
}

.warning {
  background-color: rgba(200, 80, 80, 0.3);
  padding: 1rem;
}
