.track-info {
  position: relative;
  color: #aa6619;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 4px;
  text-align: center;
}

.track {
  --pico-icon-checkbox: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3C/svg%3E");
}

.track-info:has(+ .track:hover) {
  background-color: #b0e5ffe0;
}

.track.muted {
  opacity: 0.5;
}
.track-info:has(+ .track.muted):after {
  content: '';
  position: absolute;
  top: 0;
  left: 15%;
  border-bottom: 2px solid #000;
  height: 54%;
  width: 56%;
  transform: rotateZ(-8deg);
}

.track input[type='checkbox'] {
  width: 1.2em;
  height: 1.2em;
  margin-inline-end: 4px;
  border-radius: 6px;
}

.track input[type='checkbox']:focus {
  background-color: initial;
}

.track input[type='checkbox'].onstep {
  border-color: #ffa5005d;
}

/* Mark every eigth (unticked) tick för easier sequencing */
input[type='checkbox']:nth-of-type(8n + 1).color-0 {
  background-color: #34bac573;
}

.track-letter {
  padding: 0 6px 2px 4px;
  color: #b97322;
  cursor: pointer;
  user-select: none;
}

.track:hover .track-letter {
  background-color: #b0e5ffe0;
}

.track.step-indicator {
  --pico-icon-checkbox: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' %3E %3Ccircle r='8' cx='12' cy='12' fill='white'%3E %3C/circle%3E %3C/svg%3E");
  pointer-events: none;
}

.track.step-indicator input[type='checkbox'] {
  border-color: #b77a44;
}

.track.step-indicator input[type='checkbox'].onstep {
  background-color: #ffa31e;
  border-color: #614f2e;
}

input[type='checkbox']:nth-of-type(8n + 1).color-5 {
  background-color: #c5a73473;
}
